<h1>Bit-By-Bit</h1>
     
<div class="vertical-menu">
   <!-- home button logo --> 
  <a href="/" id="homelink"><i class="fas fa-home" id="home-icon"></i></a>
 <a href="groceries.handlebars" id="groceries-link">Groceries</a>
  <a href="homeware.handlebars" id="homeware-link">Home</a>
  <a href="sport.handlebars" id="sport-link">Sports</a>
  <a href="womens.handlebars" id="womens-link">Women's Design</a>
  <!--shopping cart logo // MAKE IT LINK TO THIS PAGE-->
  <a href="cart.handlebars" id="link"><i class="fas fa-shopping-cart" id="cart-icon"></i></a>
</div>

<script>
  const homeIcon = document.getElementById("home-icon");
    const homeLink = document.querySelector("homelink");
    link.addEventListener("click", () => {
      await fetch("http://localhost:4000/home"),{
      method: "GET"
      }
});

const cartIcon = document.getElementById("cart-icon");
    const link = document.querySelector("link");
    link.addEventListener("click", () => {
      await fetch("http://localhost:4000/cart"),{
      method: "GET"
      }
});

 </script>
{{#each item}}
    <article>
        <label>
            <span>{{this.title}}</span></button>        
        </label>
        <img src={{this.imageUrl}} style="width:100px;">
    </article>

{{/each}}
