body{
    font-family:'Raleway','sans-serif';
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

h1 {
    text-align: center;
    font-family:'Raleway','sans-serif';
}

.img-size{
    text-align: center;
}

img:hover {
    box-shadow: 0 0 5px 5px rgba(54, 5, 5, 0.5);
  }

.vertical-menu{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 75px;
    padding-right: 210px;
    padding-left: 210px;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

a:hover {
    text-decoration: underline;
    text-shadow:0 0 5px rgba(54, 5, 5, 0.5) ;
}

.image {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .effect:hover .image {
    opacity: 0.3;
  }
  
  .effect:hover .middle {
    opacity: 1;
  }
  
  /* STYLES FOR HOME BUTTON */ 

  .home-icon{
    padding-left: 260px;
    padding-right: 260px;
  }

  /*STYLES FOR SHOPPING CART */
  .cart{
    padding-left: 260px;
    padding-right: 260px;
}

.cart-page{
    margin:80px auto;
    
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align:left;
    padding: 5px;
    color: #fff;
    background:grey;
    font-weight:normal;
}
td{
    padding: 10px 5px;
}
td input{
    width:40px;
    height:30px;
    padding:5px;
}
td a{
    color:red;
    font-size: 12px;
}

td img{
    width:80px;
    height:80px;
    margin-right:10px;
}

.total-price{
    display:flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid grey;
    width:100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/*buy now and delete buttons*/
.buttons{
    text-align: right;
}

.btnAddRem{
    position: relative;
    white-space: nowrap;
    padding: 8px;
    font-size: 16px;
    font-weight:500;
    color: #fff;
    align-items: center;
    width: 400px;
    height: 50px;
    padding: 0;
    border:none;
    outline: none;
    border-radius: 5px;
    overflow:hidden;
    cursor: pointer;
    background: coral;
}

/*styling for womens fashion */
.cards{
    margin:20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
    text-align: center;
    float: left;
    width: 400px;
    height: 650px; 
}

.qty{
    display: flex;
    position: absolute;
    right: 510px;
    width: 50px;
    height: 50px;
    
}

.subtotal{
    display: flex;
    position: absolute;
    right: 265px;
    width: 50px;
    height: 50px;
    
}

.product{
    text-align: start;
}