body{
    font-family:'Raleway','sans-serif';
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

h1 {
    text-align: center;
    font-family:'Raleway','sans-serif';
}

.img-size{
    text-align: center;
}

img:hover {
    box-shadow: 0 0 5px 5px rgba(54, 5, 5, 0.5);
  }

.vertical-menu{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 75px;
    padding-right: 210px;
    padding-left: 210px;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

a:hover {
    text-decoration: underline;
    text-shadow:0 0 5px rgba(54, 5, 5, 0.5) ;
}

.image {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .effect:hover .image {
    opacity: 0.3;
  }
  
  .effect:hover .middle {
    opacity: 1;
  }
  
  